* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contadorSimples{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.contadorDez{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
}

.senai{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}